@mixin for-min-340 {
	@media (min-width: 340px) { @content; }
}
/* Tags section */
body {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	color: #2e303b;
}
h1, h2, h3 {
	text-align: center;
	margin-top: 0px;
	font-family: 'Sansita', sans-serif;
}
a {
	color: #ff4a4b;
	-webkit-transition: 
		color 0.5s, 
		text-decoration 0.5s;
	transition: 
		color 0.5s, 
		text-decoration 0.5s;
}
a:hover {
	color: #e74a4a;
	cursor: pointer;
}
a:active {
	color: #e74a4a;
}
a:visited {
	color: #e74a4a;
}
/* All page container */
.all-page {
	margin: auto;
	max-width: 1200px;
}
/* Header section */
.header {
	height: 50px;
	/* tmp */
	line-height: 50px;
	/* tmp */
	background-color: #FFF;
	border-bottom: 1px solid #eee;
}
.logo-name {
	color: #2e303b;
	display: inline;
	float: left;
	padding-left: 10px;
	font-size: 26px;
	font-family: 'Lobster', cursive;
	cursor: default;
}
.header > ul {
	display: inline;
	float: right;
}
.header > ul > li {
	padding-right: 2px;
	padding-left: 2px;
	@include for-min-340 {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.nav-link {
	text-decoration: none;
	color: #e74a4a;
	padding: 8px 12px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	-webkit-transition: 
		background-color 0.5s, 
		color 0.5s, 
		border-color 0.5s;
	transition: 
		background-color 0.5s, 
		color 0.5s, 
		border-color 0.5s;
}
.nav-link:hover {
	text-decoration: none;
	color: #fff;
	background-color: #e74a4a;
	border-color: #e74a4a;
}
.nav-link i::before {
 width: 15px;
 display: inline-block;
 text-align: center;
}
/* Description (qoute) section */
.description {
	min-height: 300px;
	color: #fff;
	padding-top: 80px;
	background-color: #2e303b;
	background-image: url(../img/background.png);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #eee;
}
.description-quote {
	padding: 0 5%;
}
.quote-delimiter {
	width: 5%;
}
/* About section */
#about {
	padding: 30px;
	padding-top: 10px;
	background-color: #FFF;
	border-bottom: 1px solid #eee;
}
#about > p {
/*   padding-right: 150px;
	padding-left: 150px; */
}
/* Portfolio section */
#portfolio {
	min-height: 300px;
/*   background-color: #DCDCDD; */
	padding-top: 30px;
	border-bottom: 1px solid #eee;
}
.thumbnail-link {
	text-decoration: none !important;
}
.thumbnail {
	box-shadow: 0px 0px 10px 1px #ccc;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}
.thumbnail:hover {
	box-shadow: 0px 0px 10px 3px #ccc;
}
#portfolio img {
	border: 1px solid #eee;
	border-radius: 5px;
}
/* Contact (social media) section */
#contact {
	//min-height: 100px;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #46494C;
	color: #fff;
}
#contact a {
	color: #fff;
	-webkit-transition: 
		background-color 0.5s;
	transition: 
		background-color 0.5s;
}
/* Copyright section */
#copyright {
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #373a3d;
	color: #878a8d;
}
#copyright > p{
	margin-bottom: 0px;
}
