@mixin for-min-340 {
	@media (min-width: 340px) {
		@content;
	}
}
@mixin for-min-768 {
	@media (min-width: 768px) {
		@content;
	}
}
/* ========== Tags section ========== */
body {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	color: #2e303b;
}
h1, h2, h3 {
	text-align: center;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}
a {
	color: #ff4a4b;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
a:hover,
a:active {
	color: #e74a4a;
	cursor: pointer;
}
/* ========== All page container ========== */
.all-page {
	margin: auto;
	max-width: 1200px;
}
/* ========== Header section ========== */
.nav-header {
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.logo {
	color: #2e303b;
	float: left;
	margin-left: 10px;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}
.nav-header > ul {
	float: right;
}
.nav-header > ul > li {
	padding-right: 2px;
	padding-left: 2px;
	@include for-min-340 {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.nav-header .nav-link {
	text-decoration: none;
	color: #e74a4a;
	padding: 8px 12px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	-moz-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.nav-header .nav-link:hover,
.nav-header .nav-link:active {
	text-decoration: none;
	color: #fff;
	background-color: #e74a4a;
	border-color: #e74a4a;
}
.nav-header .nav-link:visited {
	text-decoration: none;
}
.nav-link i::before {
	width: 15px;
	display: inline-block;
	text-align: center;
}
/* ========== Description (qoute) section ========== */
.description {
	min-height: 300px;
	color: #fff;
	padding-top: 40px;
	font-family: 'Roboto', sans-serif;
	background-color: #2e303b;
	background-image: url(../img/background.png);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #eee;
	@include for-min-768 {
		padding-top: 80px;
	}
}
.description-quote {
	padding: 0 5%;
}
.quote-delimiter {
	width: 50px;
	border-top: 1px solid #aaa;
}
/* ========== About section ========== */
.about {
	padding: 30px;
	padding-top: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	.img-d2718nis {
		max-width: 180px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 10px;
		border: 4px solid white;
		box-shadow: 0 0 10px 1px #ccc;
		-moz-transition: box-shadow 0.5s;
		-o-transition: box-shadow 0.5s;
		-webkit-transition: box-shadow 0.5s;
		transition: box-shadow 0.5s;
	}
}
/* ========== Portfolio section ========== */
.portfolio {
	min-height: 300px;
	padding-top: 30px;
	border-bottom: 1px solid #eee;
}
.portfolio .thumbnail-link,
.portfolio .thumbnail-link:hover,
.portfolio .thumbnail-link:active,
.portfolio .thumbnail-link:visited {
	text-decoration: none;
}
.thumbnail {
	box-shadow: 0 0 10px 1px #ccc;
	-moz-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}
.thumbnail:hover {
	box-shadow: 0 0 10px 3px #ccc;
}
.portfolio img {
	border: 1px solid #eee;
	border-radius: 5px;
}
/* ========== Contacts section ========== */
.contacts {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #46494c;
	color: #fff;
}
.contacts a {
	color: #fff;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
/* ========== Credits section ========== */
.credits {
	font-size: 12px;
	background-color: #373a3d;
	color: #878a8d;
}
.credits .text-center {
	margin: 0;
}